@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500;600&display=swap');

$rajdhani: 'Rajdhani', sans-serif;

.classifai-settings {
	display: flex;
	background-color: #fff;
	border-top: 6px solid;
	border-bottom: 1px solid;

	&__context-features {
		background-color: #821212;
	}

	&__context-providers {
		background-color: #128273;
	}

	&--feature {
		border-color: #821212;

		.classifai-settings__context-keys {
			background-color: #360606;
		}

		.classifai-settings__service-group-header {
			background-color: #821212;
		}

		.classifai-settings__service-group-feature-name {
			border-color: #360606;
		}
	}

	&--provider {
		border-color: #128273;

		.classifai-settings__context-keys {
			background-color: #063136;
		}

		.classifai-settings__service-group-header {
			background-color: #128273;
		}

		.classifai-settings__service-group-provider-name {
			border-color: #360606;
		}
	}

	&__context-settings {
		padding: 1rem 1.5rem;
		padding-top: 2rem;
		padding-left: 2rem;
	}

	&__context {
		font-size: 1rem;
		text-transform: uppercase;
		display: flex;
		justify-content: flex-end;

		a {
			display: inline-flex;
			padding: 1rem;
			text-decoration: none;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: #fff;
		}
	}

	&__context-keys {
		width: 100%;
		max-width: 240px;
	}

	&__service-group-header {
		color: #f6f6f6;
		height: 60px;
		padding: 1.75rem 1rem 0 1rem;
		font-size: 1.65rem;
		font-weight: 300;
	}

	&__service-group-feature-name,
	&__service-group-provider-name {
		display: block;
		padding: 0.85rem 1rem 0.85rem 2rem;
		text-decoration: none;
		font-size: 1.25rem;
		line-height: 1.65rem;
		color: #d5d5d5;
		// letter-spacing: 1px;
		border-left: 4px solid;

		&--active {
			background-color: #fff;
			color: #000;

			&:hover,
			&:focus {
				color: #000 !important;
			}
		}

		&:first-child {
			padding-top: 1rem;
		}

		&:last-child {
			padding-bottom: 1rem;
		}

		&:hover,
		&:focus {
			color: #fff;
		}
	}

	&__input-wrapper {
		max-width: 300px;

		&:nth-child(1) {
			margin-top: 0;
		}

		margin-top: 3.5rem;

		label {
			font-size: 1.25rem;
		}

		.description {
			margin: 0;
			margin-top: 0.75rem;
			margin-bottom: 1rem;
			font-size: 0.85rem;
		}
	}

	&__multi-select {
		width: 100%;
	}

	.select2-selection.select2-selection--multiple {
		padding: 0;
	}

	.select2-container--default .select2-selection--multiple .select2-selection__choice {
		background-color: #fff;
		font-size: 1rem;
		padding: 0.5rem;
		padding-left: 25px;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;

		.select2-selection__choice__remove {
			top: 50%;
			left: 0.35rem;
			transform: translate( 0, -50% );
			border: 0;
		}
	}

	.select2-search.select2-search--inline {
		position: relative;
		top: -10px;
	}
}